@media screen and (max-width:700px){
    .big-calendar {
        display: none;
    }
    .little-calendar {
        display: block;
    }
    .logo-class {
        width: 40vw;
    }
}

@media screen and (min-width: 701px){
    .big-calendar {
        display: block;
    }
    .little-calendar {
        display: none;
    }
    .logo-class {
        width: 25vw;
    }
}

@media screen and (min-width: 1025px) {
    .big-calendar {
        margin-left: 10vw;
        margin-right: 10vw;
        width: 80vw;
    }
}